

/* --Colores-- */

/* Principales */
$primary: #47cfac;
$secondary: #434a54;
$background_white: #e6e9ed;
$background_light_grey: #ccd1d9;
$custom_light_grey: #656d78;
$custom_dark_grey: #23282d;

/* Secundarios */
$custom_purple: #ac92ec;
$custom_green: #a0d468;

