@import "./tokens";
@import "./utilities";
@import "./globals";
@import "./fonts";
@import "../node_modules/sass-rem/rem";

/* Header */
header {
  .social {
    background-color: $primary;
    .social-container {
      height: rem(40px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .social-list {
        a span {
          color: $background_white;
        }
      }
    }
  }
  nav {
    background-color: grey;
  }
}
